@model RocketScience.Models.Rocket
@{
    ViewData["Title"] = "Home Page";
}



@*@using (Html.BeginForm())
{
    <label>Name Your Rocket</label>
    @Html.TextBoxFor(model => model.Name)
    <label>Enter Tonnage</label>
    @Html.TextBoxFor(model => model.Tonnage)
    <input type="submit" value="Create Rocket" class="btn btn-danger" />
}*@


    <div>
<h2>FInd Fuel Requirements</h2>
<form asp-action="GetFuel" asp-controller="Home">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Tonnage"></label>
    <input asp-for="Tonnage" />
    <label asp-for="DestinationName"></label>
    <input asp-for="DestinationName" />
    <label asp-for="FinalSpeed"></label>
    <input asp-for="FinalSpeed" placeholder="Terminal Velocity" />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>



<h2>Crew </h2>
<form action="/getCrew" method="post">
    <label>Number of Actions</label>
    <input id="actions" type="text" /> 
    <label>Number of days</label>
    <input id="days" type="number" />
    <button class="btn btn-default" value="submit">Submit</button>
</form>

<h2>Distance</h2>
<form action="/getDistance" method="post">
    <label>Starting Latitude</label>
    <input id="start-lat" type="number" />
    <label>Starting Longitude</label>
    <input id="start-long" type="number" />
    <label>Ending Latitude</label>
    <input id="end-lat" type="number" />
    <label>Ending Longitude</label>
    <input id="end-long" type="number" />
    <button class="btn btn-warning" type="submit">Launch!</button>
</form>

        </div>

<div class="fuel-check">
    <h2>@ViewBag.fuelResult</h2>
</div>